@import "@angular/material/prebuilt-themes/pink-bluegrey.css";

html,
body {
  height: 100%;
}
body {
  background-color: #0d0d0d;
  color: #d9c8a9;
  font-family: "Monsterat", "Georgia", serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  color: #bfa76f;
  margin-bottom: 1rem;
  font-family: "Monsterat", serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

// table {
//   width: 100%;
//   background-color: #1c1c1c;
//   border-collapse: collapse;
//   color: #f5f5f5;
// }

// th,
// td {
//   padding: 12px 16px;
//   border: 1px solid #333;
// }

// th {
//   background-color: #0d0d0d;
//   color: #bfa76f;
//   font-weight: bold;
// }

button {
  background-color: #7c1c1c;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #a83232;
}

/* These apply to all snackbars using our custom overlay class */
.custom-snackbar-theme .mat-mdc-snack-bar-container.snackbar-success {
  background-color: #4caf50 !important;
  color: #4caf50 !important;
}

.custom-snackbar-theme .mat-mdc-snack-bar-container.snackbar-error {
  background-color: #f44336 !important;
  color: #f44336 !important;
}

.custom-snackbar-theme .mat-mdc-snack-bar-container .mdc-button__label {
  color: white !important; // make close button white
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;
  background-color: #1b1b1b; // deep background for Godfather look
  color: #f5f5f5;

  th,
  td {
    padding: 12px 16px;
    border: 1px solid #333;
    text-align: left;
  }

  th {
    background-color: #2c2c2c;
    font-weight: bold;
    color: #d4af37; // gold-ish
  }

  tbody tr:nth-child(odd) {
    background-color: #242424; // dark row
  }

  tbody tr:nth-child(even) {
    background-color: #2e2e2e; // slightly lighter row
  }

  tbody tr:hover {
    background-color: #3c3c3c;
  }
}
table {
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  overflow: hidden; // ensures rounding applies
}

::ng-deep .mat-select-panel {
  background-color: #1e1e1e;
  color: #f5f5f5;
}
