.dashboard-container {
  max-width: 900px;
  margin: 40px auto;
  background-color: #1c1c1c;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.cancel-button {
  margin-left: 10px;
}

.table-container {
  border-radius: 10px;
  overflow: hidden; // required for rounded corners to clip
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;
  background-color: #1b1b1b;
  color: #f5f5f5;

  th,
  td {
    padding: 12px 16px;
    border: 1px solid #333;
    text-align: left;
  }

  th {
    background-color: #2c2c2c;
    color: #d4af37;
  }

  tbody tr:nth-child(odd) {
    background-color: #242424;
  }

  tbody tr:nth-child(even) {
    background-color: #2e2e2e;
  }

  tbody tr:hover {
    background-color: #3c3c3c;
  }
}

mat-card.dashboard-container {
  padding: 24px;
  background-color: #1e1e1e;
  color: #f5f5f5;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);

  h2 {
    color: #d4af37;
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    color: #f5f5f5;
  }

  .mat-header-cell,
  .mat-cell {
    color: #f5f5f5 !important;
  }

  td.mat-cell {
    color: #f5f5f5 !important;
  }
  th.mat-header-cell {
    background-color: #2a2a2a;
    // color: #d4af37;
  }

  tr.mat-row:nth-child(even) {
    background-color: #2c2c2c;
  }

  tr.mat-row:nth-child(odd) {
    background-color: #1f1f1f;
  }
  button.mat-raised-button {
    color: white;
  }
}
